html, body
{
	background-color: #ffffff;
	color: #333333;
}

.menu
{
	margin: 46px 10px 0 310px;
	font-weight: bold;
	padding: 1px;
	border: 1px solid rgb(100, 150, 0);
	background-color: rgb(230, 240, 220);
	color: rgb(100, 90, 70);
	height: 23px;
}

fieldset
{
	border: 0px none #EEEEEE;
}

#lastupdated
{
	width: 48%;
	padding-right: 1%;
	margin-right: 1%;
	float: left;
	border-right: 1px solid #999999;
}

#mostpopular
{
	width: 49%;
	padding: 0;
	margin: 0;
	float: left;
}

#header h1
{
	margin: 0;
	padding: 0;
	width: 310px;
	float: left;
}

#header
{
	border: 1px solid #ffffff;
}

#main
{
	margin: 0;
}

.soft
{
	width: 81%;
	float: left;
	margin: 1% 0 1% 1%;
}

.categories
{
	width: 17%;
	float: left;
}

.item h4
{
	color: #333333;
	background-color: transparent;
	border-bottom: 1px solid #666666;
	margin: 0 0 0.3em 0;
	padding: 0;
}

.categories, .soft h4, #main h3, #main h2
{
	background-color: #EEEEEE;
	border: 1px solid #999999;
	color: #333333;
}

.categories h4
{
	color: #000000;
	background-color: #EEEEEE;
	margin: 0.5em 0.5em 1em 0.5em;
}

.infos ul, .infos li, .description dd, .historique dd, fieldset, form
{
	margin: 0;
	padding: 0;
}

a:link
{
	color: #336699;
	background-color: transparent;
}

a:visited
{
	color: #006699;
	background-color: transparent;
}

a:hover
{
	text-decoration: underline;
	color: #667799;
	background-color: transparent;
}

.categories a:hover
{
	color: #000000;
	background-color: transparent;
}

.item
{
	margin-top: 0;
}

#main h3, #main h2, #main .soft h4
{
	padding: 0.5em;
	margin: 0.5em 1% 0.5em 0;
	font-size: 125%;
}

#main h3
{
	margin-right: 0;
}

#main .soft h4
{
	margin-top: 0;
	margin-right: 0;
}


.categories li, .categories ul
{
	margin: 0;
	padding: 0.1em 0.2em;
	display: block;
	border: 1px solid #EEEEEE;
}

.categoriesmain ul
{
	float: left;
	margin: 0;
	padding: 0;
	width: 50%;
}

.categoriesmain li
{
	margin: 0 2em;
	padding: 0;
}

.categories li:hover
{
	border: 1px solid black;
	background-color: #DDDDDD;
	color: #000000;
}

.categories a
{
	display: block;
	text-decoration: none;
}

.infos
{
	float: left;
	width: 160px;
}

.misc, #mostpopular .description, #lastupdated .description
{
	border: 1px solid rgb(240, 150, 40);
	background-color: rgb(250, 230, 200);
	color: rgb(255, 102, 0);
}

.links, #footer
{
	border: 1px solid rgb(100, 150, 0);
	background-color: rgb(230, 240, 220);
	color: rgb(100, 90, 70);
}

#footer
{
	margin-top: 1%;
	margin-right: 1%;
	padding: 0.5em;
	clear: both;
	text-align: right;
}

.soft .links a
{
	display: block;
}

.links a:link, .links a:visited
{
	color: rgb(100, 90, 70);
	background-color: rgb(230, 240, 220);
	font-weight: bold;
	text-align: right;
	text-decoration: none;
}

.links a:hover
{
	color: rgb(40, 80, 60);
	background-color: rgb(230, 240, 220);
	font-weight: bold;
}

.infos div
{
	width: 140px;
	margin: 0 5px 0.5em 0;
	padding: 5px;
}

.infos div ul li, .categories li
{
	list-style-type: none;
}

.screenshot
{
	width: 152px;
	padding: 0 !important;
}

.screenshot a:link img
{
	border: 1px solid #000000;
}

.screenshot a:visited img
{
	border: 1px solid #333333;
}

.description, .historique, .abstract, .categoriesmain
{
	border: 1px solid rgb(100, 150, 200);
	background-color: rgb(240, 245, 250);
	color: #333333;
	padding: 0.5em 1em 0.5em 0.5em;
	margin-right: 1%;
}

.abstract p
{
	margin: 0.5em;
}

.abstract
{
	margin-right: 1%;
}


.item .description, .item .historique
{
	margin: 0 0 0 165px;
}

ol li
{
	font-weight: bold;
}

ol li em
{
	font-weight: normal;
}

.soft .description, .soft .historique
{
	margin-left: 165px;
	margin-bottom: 1em;
}


.soft .description strong, .soft .historique strong
{
	color: rgb(80, 130, 200);
	background-color: rgb(240, 245, 250);
}

.description p, .historique p
{
	margin-top: 0;
	text-align: justify;
}

p.more
{
	margin: 0.5em 0 0 165px;
	padding: 0.4em;
	text-align: right;
}

.soft .description dt, .soft .historique dt
{
	color: rgb(80, 130, 200);
	background-color: rgb(240, 245, 250);
}

.description dt, .historique dt
{
	font-weight: bold;
	display: inline;
	margin: 0;
	clear: both;
	
}

.description dd, .historique dd
{
	display: inline;
}

.description dl, .historique dl
{
	margin: 0 0 0.5em 0;
}

.historique table
{
	width: 100%;
	border-collapse: collapse;
	margin-top: 1em;
}

.historique table th
{
	text-align: left;
}

.historique table thead
{
	border-bottom: 1px solid #999999;
}

.admin label
{
	float: left;
	font-weight: bold;
	width: 12em;
	margin-top: 0.5em;
}

.admin input, .admin select
{
	min-width: 18em;
	margin-top: 0.5em;
	border: 1px solid #666666;
}

.admin textarea
{
	width: 30em;
	border: 1px solid #666666;
}
